@mixin body-styling() {
  background: $primary-white;
  font-family: $main-font;
  padding: 0px;
  margin: 0px;
}
@mixin section-style($display, $width, $height, $margin, $background) {
  display: $display;
  align-items: center;
  width: $width;
  height: $height;
  margin: $margin;
  background-color: $background;
}

@mixin font($font, $size, $weight, $color) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
@mixin icon-style($image, $color) {
  background-image: $image;
  background-size: contain;
  background-color: $color;
}
