//colors
$green: #88CE72;
$blue: #98C4E5;
$gray: #5A6057;
$primary-white: #FFFEFC;

//fonts
$main-font: 'Poppins', sans-serif;
$secondary-font: 'Oswald', sans-serif;


// sizing
$header-size: 100%;
$icon-size: 95%;
