@import 'variables';
@import 'mixins';

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

body {
  @include body-styling($primary-white, 0, 0);
}

// ********* HEADER ********* //
header {
  @include section-style(flex, auto, 7.5vw, 0px, $green, 0 1vw 0 1vw);
  justify-content: space-between;
  border-bottom: 1px solid $gray;
}

label {
  @include font($main-font, 2.75vw, 200, white);
  letter-spacing: 1px;
}

.hotel-name {
  @include section-style(flex, auto, $header-size, 0vw, $green, 0 .5vw 0 .5vw);
  @include font($main-font, 3.8vw, 200, $primary-white)
  justify-content: center;
}

.heading {
  @include section-style(flex, auto, 80%, 0, $green)
}

.hotel-icon {
  @include section-style(flex, 5.4vw, $icon-size, .5vw, $green)
  @include icon-style(url(../images/hotel.svg), $green);
}

// ********* Welcome Bar ********* //
.user-bar {
  @include section-style(flex, auto, 7vw, 0px, $gray);
  justify-content:space-between;
}

.welcome-and-back {
display: flex;
align-items: center;
}

#welcome {
  @include font($secondary-font, 2.25vw, 200, $primary-white);
  padding: 1vw .8vw;
  margin-right: 5px;
  font-weight: 200;
}

.back-button {
  @include icon-style(url(../images/left-arrow-in-circular-button-black-symbol.svg), $gray);
  @include section-style(flex, 6.9vh, 7vh, 0px, $gray);
  &:hover {
    @include icon-style(url(../images/left-arrow-in-circular-button-blue-symbol.svg), normal)
  }
}

.room-search {
  @include section-style(flex, 50%, 100%, 0px, $gray);
  justify-content: flex-end;
}

.room-type-inputs {
  @include section-style(flex, 30%, 100%, 0px, $gray);
  flex-direction: column;
  justify-content: flex-start;
}

.date-selector {
  @include section-style(flex, 30%, 100%, 0 .5vw 0 .5vw, $gray);
  flex-direction: column;
  justify-content: flex-start;
}

.room-input-label {
  @include font($secondary-font, 1.5vw, 200, $primary-white);
  width: 100%;
  padding-top: .5vw;
  display: flex;
  justify-content: center;
}

.room-input {
  @include section-style(normal, 90%, 35%, 0, normal, .1vw 0 .1vw .5vw);
  @include font($main-font, 1.25vw, 400, $gray);
}

#search-rooms-button {
  @include font($secondary-font, 1.5vw, 400, $gray);
  height: 60%;
  padding: .5vw;
  margin-right: 1vw;
  &:hover {
    @include hover($blue, $primary-white)
  }
}

.search-customers {
  @include section-style(flex, 27vw, 45%, 0px, $gray);
  justify-content: space-between;
}

#customer-field {
  @include section-style(flex, 20vw, 100%, 0 1vw 0 0, auto, 0 0 0 1vw);
  @include font($main-font, 1.2vw, 200, $gray);
}

#search-customers-button {
  @include section-style(flex, 3vw, 2.9vw, 0 1vw 0 1vw, $gray, 1vw);
  @include icon-style(url(../images/loupe.svg), $gray);
  border: none;
  &:hover {
    @include section-style(flex, 3.5vw, 3.4vw, 0 1vw 0 1vw, $gray, 1vw);
  }
}

// ********* Login ********* //
.login-view {
  @include section-style(flex, auto, 50vw, 0px, $primary-white);
  flex-direction: column;
}

.login-box {
  @include section-style(flex, 45%, 50%, 5vw 0 0 0, $green, 2vw);
  flex-direction: column;
  align-items: flex-start;
  @include font($secondary-font, 2vw, 200, $primary-white);
  border: 1px solid $gray;
}

.login-input {
  @include section-style(normal, 55%, 15%, 1vw 2vw, $primary-white, 0 0 0 1vw);
  @include font($main-font, 1.25vw, normal, $gray);
}

.login-button {
  @include section-style(flex, 6vw, 3.75vw, 1vw 0 0 0, $gray, 1vw);
  @include font($secondary-font, 1.5vw, 200, $primary-white);
  justify-content: center;
  &:hover {
    @include hover($blue, $primary-white)
  }
}

.login-error {
  @include body-styling($primary-white, .2vw, .5vw 0 0 0)
  @include font($main-font, 1.5vw, 400, $blue);
  // background-color: $primary-white;
  padding: .2vw;
}

// ********* Customer Dashboard ********* //
.customer-dash {
  @include section-style(normal, 100%, 40vw, 0, $primary-white);
  overflow: auto;
}

.customer-info {
  @include section-style(normal, 90%, auto, 1.5vw auto 1.5vw auto, $green, 2vw);
  @include font($main-font, 1.75vw, 200, $primary-white);
  border: 1px solid $gray;
  border-radius: 2vw;
}

.customer-dash-h3 {
  font-weight: 200;
}

.customer-charges {
  font-size: 2.25vw;
  font-weight: 400;
}

// ********* Manager Dashboard ********* //
.manager-dash {
  @include section-style(flex, 100%, 40vw, 2vw 0, $primary-white);
  justify-content: space-around;
  align-items: flex-start;
}

.manager-info {
  @include section-style(normal, 25%, auto, 0, $green, 3vw);
  @include font($main-font, 2.75vw, 200, $primary-white);
  border-radius: 2vw;
}

.manager-data {
  @include font($main-font, 4vw, 400, $primary-white);
  @include section-style(normal, auto, auto, .75vw 0 0 0, $blue);
  text-align: center;
  border: 2px solid $gray;
}

// ********* Search Results ********* //
h4 {
  @include section-style(normal, 100%, auto, 1vw 0, none);
  @include font($secondary-font, 2vw, 400, $gray);
  text-align: center;
}

.room-results-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-gray;
}

.search-result {
  @include section-style(flex, 95%, auto, 1vw 0, $primary-white, 1vw);
  @include font($main-font, 1.5vw, 200, $gray);
  flex-direction: column;
  border-radius: 2vw;
  border: 2px solid $blue;
}

.top-row {
  @include section-style(flex, 80%, auto, 0, $primary-white);
  justify-content: space-between;
  font-weight: bold;
}

.bottom-row {
  @include section-style(flex, 80%, auto, 0, $primary-white);
  justify-content: space-between;
}

.column-left {
  border-left: 1px solid $gray;
  padding-left: 1vw;
  width: 20%;
}

.column-middle {
  border-left: 1px solid $gray;
  padding-left: 1vw;
  width: 35%;
}

.column-right {
  border-left: 1px solid $gray;
  padding-left: 1vw;
  width: 30%;
}

.book-room-button, .delete-booking-button {
  @include section-style(normal, 80%, 40%, 5px, normal);
  @include font($main-font, 1.25vw, 200, $gray);
  &:hover {
    @include hover($blue, $primary-white);
  }
}

// ********* Class Change ********* //
span {
  font-weight: bold;
}

.hide {
  display: none;
}
