@import 'variables';
@import 'mixins';

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

body {
  @include body-styling($primary-white, 0, 0);
}

// ********* HEADER ********* //
header {
  @include section-style(flex, auto, 7vw, 0px, $green);
  justify-content: space-between;
  padding: 0 1vw 0 1vw;
}

.hotel-name {
  @include section-style(flex, auto, $header-size, 0vw, $green);
  @include font($main-font, 3.8vw, 200, $primary-white)
  justify-content: center;
  padding: 0 .5vw 0 .5vw;
  &:hover {
    cursor: pointer;
    background-color: $primary-white;
    color: $green;
  }
}

.home-button {
  @include section-style(flex, auto, 80%, 0, $green)
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.hotel-icon {
  @include section-style(flex, 5.4vw, $icon-size, .5vw, $green)
  @include icon-style(url(../images/hotel.svg), $green);
}

// ********* Welcome Bar ********* //
.user-bar {
  @include section-style(flex, auto, 6vw, 0px, $gray);
  justify-content:space-between;
}

#welcome {
  @include font($secondary-font, 2.25vw, 200, $primary-white);
  padding: 1vw .8vw;
  font-weight: 200;
}

.room-search {
  @include section-style(flex, 50%, 100%, 0px, $gray);
  justify-content: flex-end;
}

.room-type-inputs {
  @include section-style(flex, 30%, 100%, 0px, $gray);
  flex-direction: column;
  justify-content: flex-start;
}

.date-selector {
  @include section-style(flex, 30%, 100%, 0 .5vw 0 .5vw, $gray);
  flex-direction: column;
  justify-content: flex-start;
}

.room-input-label {
  @include font($secondary-font, 1.5vw, 200, $primary-white);
  width: 100%;
  padding-top: .5vw;
  display: flex;
  justify-content: center;
}

.room-input {
  @include section-style(normal, 90%, 30%, 0, normal);
  padding-left: .5vw;
}

#search-rooms-button {
  @include font($secondary-font, 1.5vw, 400, $gray);
  height: 60%;
  padding: .5vw;
  margin-right: 1vw;
  &:hover {
    @include hover($blue, $primary-white)
  }
}

.search-customers {
  @include section-style(flex, 25vw, 45%, 0px, $gray);
  justify-content: space-between;
}

#customer-field {
  @include section-style(flex, 20vw, 100%, 0 1vw 0 0, auto);
  @include font($main-font, 1.2vw, 200, $gray);
  padding-left: 1vw;
}

#search-customers-button {
  @include section-style(flex, 3vw, 2.9vw, 0 1vw 0 1vw, $gray);
  @include icon-style(url(../images/loupe.svg), $gray);
  border: none;
  padding: 1vw;
  &:hover {
    @include section-style(flex, 3.5vw, 3.4vw, 0 1vw 0 1vw, $gray);
  }
}

// ********* Login ********* //
.login-view {
  @include section-style(flex, auto, 50vw, 0px, $primary-white);
  flex-direction: column;
}

.login-box {
  @include section-style(flex, 40%, 40%, 5vw 0 0 0, $green);
  flex-direction: column;
  align-items: flex-start;
  @include font($secondary-font, 2vw, 200, $primary-white);
  border: 1px solid $gray;
  padding: 2vw;
}

.login-input {
  @include section-style(normal, 55%, 15%, 1vw 2vw, $primary-white);
  @include font($main-font, 1.25vw, normal, $gray);
  padding-left: 1vw;
}

.login-button {
  @include section-style(flex, 6vw, 3.5vw, 1vw 0 0 0, $gray);
  @include font($secondary-font, 1.5vw, 200, $primary-white);
  justify-content: center;
  padding: 1vw;
  &:hover {
    @include hover($blue, $primary-white)
  }
}

.login-error {
  @include body-styling($primary-white, .2vw, .5vw 0 0 0)
  @include font($main-font, 1.5vw, 400, $blue);
  background-color: $primary-white;
  padding: .2vw;
}

// ********* Customer Dashboard ********* //
.customer-dash {
  @include section-style(flex, 100%, 40vw, 0, $primary-white);
  flex-direction: column;
  justify-content: space-around;
}

.customer-info {
  @include section-style(normal, 90%, auto, 0, $green);
  @include font($main-font, 1.75vw, 200, $primary-white);
  padding: 3vw;
  border-radius: 2vw;
}

// ********* Manager Dashboard ********* //
.manager-dash {
  @include section-style(flex, 100%, 40vw, 2vw 0, $primary-white);
  justify-content: space-around;
  align-items: flex-start;
}

.manager-info {
  @include section-style(normal, 25%, auto, 0, $green);
  @include font($main-font, 2.75vw, 200, $primary-white);
  padding: 3vw;
  border-radius: 2vw;
}

.manager-data {
  @include font($main-font, 4vw, 400, $primary-white);
  text-align: center;
  margin-top: .5vw;
  border: 2px solid $gray;
}

// ********* Class Change ********* //
.hide {
  display: none;
}
